= render partial: 'public_navbar'
= render partial: 'public_records'

#show-dialog.modal.fade
#new-update-dialog.modal.fade

.text-center
  = will_paginate @agenda_reservations, renderer: BootstrapPagination::Rails
%br
