$('#check-button').html("#{link_to_fa_button({url: catalogs_assign_unassign_users_resources_path(resource, user_id: params[:user_id], admin: admin), icon: 'fa-check-square-o', title: t('commands.uncheck')})}");
