- if @catalogs_user_resource.errors.count > 0
  $('#new-update-dialog').empty();
  $('#new-update-dialog').html("#{escape_javascript(render(partial: 'form', layout: 'layouts/modal', locals: {title: t('titles.user_resource')} ))}");
- else
  $('#records').empty();
  $('#records').html("#{escape_javascript(render 'records')}");
  $('#new-update-dialog').modal('toggle');