- new_link = link_to_fa_button({url: new_catalogs_headquarter_path, text: t('commands.new'), icon: 'fa-plus', data: {toggle: 'modal', target: '#new-update-dialog'}})
= render partial: 'layouts/admin_menu', locals: {title: t('titles.headquarters'), url: catalogs_headquarters_path, new_link: new_link}
#records
  = render partial: 'records'
#show-dialog.modal.fade
#new-update-dialog.modal.fade
#delete-dialog.modal.fade

.text-center
  = will_paginate @catalogs_headquarters, renderer: BootstrapPagination::Rails
%br
