= render partial: 'layouts/admin_menu', locals: {title: t('titles.event_types'), url: catalogs_event_types_path}
#records
  = render partial: 'records'
#show-dialog
#new-update-dialog.modal.fade

%br

= link_to_fa_button ({url: new_catalogs_event_type_path, text: t('commands.new'), icon: 'fa-plus', data: {toggle: 'modal', target: '#new-update-dialog'}})



-#%h1 Listing catalogs_event_types
-#
-#%table
-#  %tr
-#    %th Name
-#    %th
-#    %th
-#    %th
-#
-#  - @catalogs_event_types.each do |catalogs_event_type|
-#    %tr
-#      %td= catalogs_event_type.name
-#      %td= link_to 'Show', catalogs_event_type
-#      %td= link_to 'Edit', edit_catalogs_event_type_path(catalogs_event_type)
-#      %td= link_to 'Destroy', catalogs_event_type, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#
-#%br
-#
-#= link_to 'New Event type', new_catalogs_event_type_path
