@import 'font-awesome';
@import 'bootstrap-sprockets';
@import 'bootstrap';

$subordinate-color: #F2F2F2;
$dominant-color: #A9BF5A;
$accent-color: #2C4001;

//BOOTSTRAP
.navbar-default{
  background-color: $subordinate-color;
  border-color: darken($subordinate-color,10%);
}

.navbar-brand{
  color: $accent-color !important;
  font-size: 1.5em;
}

.table-hover tbody tr:hover td {
  background: lighten($dominant-color,30%);
}

.modal-header{
  background: lighten($dominant-color,30%);
}

.pagination > .active > span{
  background-color: $dominant-color;
  border-color: $dominant-color;
}

.pagination > li > a, .pagination > li > span{
  color: $accent-color;
}

.pagination > .active > span:hover{
  background-color: $accent-color;
  border-color: $accent-color;
}

//END BOOTSTRAP

#r-header{
//  background-image: url('http://dummyimage.com/970x100/A9BF5A/2C4001&text=Agenda');
  height: 100px;
  border: 1 solid red;
}

#r-header{
  margin-bottom: 1em;
}

.r-btn-search{

}

thead{
  background-color: $dominant-color;
}

.sortable{
  color: $accent-color;
  &:hover{
   text-decoration: none;
    color: $subordinate-color;
  }
}

.show{
  .tr{width: 100%}
  .rh{
    text-align: right;
    font-weight: bold;
  }
  .rc{
    text-align: left;
  }
}

footer {
  position: fixed;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 3em;
  background-color: $subordinate-color;
  padding-top: 1em;
  font-size: 0.85em;
  width: 100%;
}
