/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "base";
@import "font-awesome-sprockets";
@import "font-awesome";


.show_msgs{
  max-height: 13em;
  overflow-y: scroll;
  margin-bottom: 1em;
}

//CANCELADO
.warning-c{
  color: #ffcf53;
}

//ENVIADO
.danger-c{
  color: #ff0026;
}

//RECIBIDO
.active-c{
  color: #119cff;
}

//CONFIRMADO
.info-c{
  color: #6180be;
}

//EFECTUADO
.success-c{
  color: #71b25c;
}

