= render partial: 'layouts/admin_menu', locals: {title: t('titles.resource_types'), url: catalogs_headquarters_path}
#records
  = render partial: 'records'
#show-dialog
#new-update-dialog.modal.fade

%br

= link_to_fa_button ({url: new_catalogs_resource_type_path, text: t('commands.new'), icon: 'fa-plus', data: {toggle: 'modal', target: '#new-update-dialog'}})
